.banner {
  background-position: center;
  padding: 20px 0;
  background-color: transparent;
  border-radius: 0px 0px 15px 15px;
  z-index: 1;
  // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}

.banner h1 {
  margin: 0;
  color: rgb(31, 69, 113);
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 4rem;
  // font-weight: bold;
  font-family: 'Quattrocento'
}

.banner p {
  font-size: 2.5rem;
  color: rgb(23, 86, 108);
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Quattrocento'
}


// .middle{
//   height:50%;
//   width: 100%;
//   // display: flex;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   font-size: 24px;
//   font-weight: bold;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }

.middle-wrap{
  position:relative;
  overflow: hidden;
  height: 100%;
  width: auto;

}

.middle{
  position: absolute;

}
