.local {
  // margin-left: 2 rem;
  // border-left: 1px solid grey;
  // padding-left: 20px;
  font-size: 1.81em;
  font-family: 'Quattrocento'
}
@media (max-width: 820px)
{
  .local {
    margin-top: 25px;
   }
}
// .localdiv{
  //   margin-left: 3em;
//   padding-left: 2em;
// }

.chalet{
  color:rgb(47, 64, 100)
}

.chalet{
  text-decoration: underline;
}

.localimg{
  margin-top: 0.7rem;
  align-items: center;
  border-radius: 5px;
}

.local-info{
  padding-top: 50px;
}
