.bgtext{
  // background-color: #2670b4;
  border-radius: 5px;
}

.txt{
  text-align: justify;
  // padding: 1em;
}

.text1{
  font-size: 1.28em;
  font-weight: 400;
  font-family: 'Quattrocento'
}

.text2{
  font-size: 1.28em;
  font-family: 'Quattrocento'
}

.row2{
  background-color: rgba(70, 85, 181, 0.74);
}

.amor {
  font-size: 3rem;
}

.song{
  font-size: 1.5rem;
}

.wedding{
  border-radius: 5px;
  align-items:center;
  margin-top: 3em;
}

.wedding2{
  border-radius: 50%;
  // overflow: hidden;
  // border-width: 3px;
  // border-color: plum;
  // border-radius: 5px;
  // align-items:center;
  // border-radius: 50%;
  // overflow: hidden;
  // border: 20px solid plum;
}

// .imgpos{
//   margin-top: 0.1em;
// }

@media (max-width: 820px) {
  .imgpos{
    margin-top: 3rem;
    text-align: center;
  }
  .second-image{
    margin-top: 3em;
  }
}


// .first-text{
//   // background-color: rgba(245, 245, 245, 0.2);
//   font-family: 'Quattrocento';
// }

// .second-text{
//   background-color: rgba(245, 245, 245, 0.2);
// }
