textarea {
  resize: none;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  background-color: rgb(31,69,113);
}

.logo {
  margin-left: 2rem;
  font-size: 42px;
}

.contato{
  font-size: 1.2em;
}

.nav-color{
  background-color: #e6dafe;
}
.nav-height{
  height: 78px;
}
.rsvp{
  font-family: 'Quattrocento';
}

.rsvp-title{
  font-weight: 400;
  text-align: center;
}
// body {
//   background-image: url("../public/backgroundpurple-rm.png");
//   // width: null, height: null,
//   background-repeat: 'no-repeat';
// }

// .bg{
//   background-image: var(--img), url("../public/layered-peaks-haikei.svg");
//   background-repeat: no-repeat;
//   background-size: cover;
// }
