textarea {
  resize: none;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  background-color: #0a4275;
}

.logo {
  margin-left: 2rem;
  font-size: 42px;
}

.contato{
  font-size: 1.5em;
}
