textarea {
  resize: none;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  background-color: #0a4275;
}

.logo {
  margin-left: 2rem;
  font-size: 42px;
}

.contato{
  font-size: 1.5em;
}

// .bg{
//   background-image: var(--img), linear-gradient(to right top, #daf2f5, #d8f0fb, #dbeeff, #e2eaff, #ece6ff);
//   background-repeat: no-repeat;
// }
